In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Importing Data file
data = pd.read_csv('bc2.csv')
dataset = pd.DataFrame(data)
dataset.columns

Index(['ID', 'ClumpThickness', 'Cell_Size', 'Cell_Shape', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Normal_Nucleoli',
       'Bland_Chromatin', 'Mitoses', 'Class'],
      dtype='object')

In [10]:
dataset.head(27)
#dataset.tail(10)

,ID,ClumpThickness,Cell_Size,Cell_Shape,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Normal_Nucleoli,Bland_Chromatin,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1057013,8,4,5,1,2,?,7,3,1,4
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2

In [5]:
dataset.shape

(699, 11)

In [8]:
dataset.dtypes

ID                              int64
ClumpThickness                  int64
Cell_Size                       int64
Cell_Shape                      int64
Marginal_Adhesion               int64
Single_Epithelial_Cell_Size     int64
Bare_Nuclei                    object
Normal_Nucleoli                 int64
Bland_Chromatin                 int64
Mitoses                         int64
Class                           int64
dtype: object

In [6]:
dataset.isnull().sum()

ID                             0
ClumpThickness                 0
Cell_Size                      0
Cell_Shape                     0
Marginal_Adhesion              0
Single_Epithelial_Cell_Size    0
Bare_Nuclei                    0
Normal_Nucleoli                0
Bland_Chromatin                0
Mitoses                        0
Class                          0
dtype: int64

In [7]:
dataset.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ID,699.0,1.071704e+06,617095.729819,61634.0,870688.5,1171710.0,1238298.0,13454352.0
ClumpThickness,699.0,4.417740e+00,2.815741,1.0,2.0,4.0,6.0,10.0
Cell_Size,699.0,3.134478e+00,3.051459,1.0,1.0,1.0,5.0,10.0
Cell_Shape,699.0,3.207439e+00,2.971913,1.0,1.0,1.0,5.0,10.0
Marginal_Adhesion,699.0,2.806867e+00,2.855379,1.0,1.0,1.0,4.0,10.0
Single_Epithelial_Cell_Size,699.0,3.216023e+00,2.214300,1.0,2.0,2.0,4.0,10.0
Normal_Nucleoli,699.0,3.437768e+00,2.438364,1.0,2.0,3.0,5.0,10.0
Bland_Chromatin,699.0,2.866953e+00,3.053634,1.0,1.0,1.0,4.0,10.0
Mitoses,699.0,1.589413e+00,1.715078,1.0,1.0,1.0,1.0,10.0
Class,699.0,2.689557e+00,0.951273,2.0,2.0,2.0,4.0,4.0

In [13]:
temp = pd.DataFrame(dataset.Bare_Nuclei.str.isdigit())  
temp[temp['Bare_Nuclei'] == False]

     Bare_Nuclei
23         False
40         False
139        False
145        False
158        False
164        False
235        False
249        False
275        False
292        False
294        False
297        False
315        False
321        False
411        False
617        False

In [14]:
# Bare nuclei col is missing

temp = pd.DataFrame(dataset.Bare_Nuclei.str.isdigit())  
temp[temp['Bare_Nuclei'] == False]   

dataset = dataset.replace('?', np.nan)
dataset = dataset.apply(lambda x: x.fillna(x.median()),axis=0)


# converting the hp column from object 'Bare Nuclei'/ string type to float
dataset['Bare_Nuclei'] = dataset['Bare_Nuclei'].astype('float64')

In [5]:
### Missing Values

In [15]:
dataset.isnull().sum()

ID                             0
ClumpThickness                 0
Cell_Size                      0
Cell_Shape                     0
Marginal_Adhesion              0
Single_Epithelial_Cell_Size    0
Bare_Nuclei                    0
Normal_Nucleoli                0
Bland_Chromatin                0
Mitoses                        0
Class                          0
dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [22]:
data_preprocessing = dataset.copy()
data_preprocessing.drop(['ID', 'Class'], axis = 1, inplace = True)
print(data_preprocessing.dtypes)

from sklearn.model_selection import train_test_split

# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score, confusion_matrix

target = dataset["Class"]
features = dataset.drop(["ID","Class"], axis=1)
X_train, X_test, y_train, y_test = train_test_split(features,target, test_size = 0.2, random_state = 10)

ClumpThickness                   int64
Cell_Size                        int64
Cell_Shape                       int64
Marginal_Adhesion                int64
Single_Epithelial_Cell_Size      int64
Bare_Nuclei                    float64
Normal_Nucleoli                  int64
Bland_Chromatin                  int64
Mitoses                          int64
dtype: object

In [24]:
from sklearn.svm import SVC

# Building a Support Vector Machine on train data
SVC = SVC(C=.2, kernel='linear', gamma= 1)
SVC = SVC.fit(X_train, y_train)
# check the accuracy on the training set
print(SVC.score(X_train, y_train))
prediction = SVC.predict(X_test)

0.9749552772808586

In [25]:
print(SVC.score(X_test, y_test))

0.9642857142857143

In [26]:
print("Confusion Matrix:\n",confusion_matrix(prediction,y_test))

Confusion Matrix:
 [[95  2]
 [ 3 40]]